.panel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 20vh;

  button {
    font-size: 1.2rem;
    margin: 1rem;
    padding: 1rem 2rem;
    background: rgb(31, 33, 63);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 1rem;
  }

  p {
    font-size: 1rem;
  }
}

.library-panel,
.generate-panel,
.save-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}
